.embed-layout {
  margin: 0;
  padding: 0;
  width: 100vw;
  min-height: 100vh;
  height: var(--app-viewport-height);
  overflow: hidden;
}

.embed-layout .embed-layout-ggb {
  width: 100%;
  height: 100%;
}
